h1 {
    color: white;
    background-color: black;
    font-size: 100px;
    text-align: center;
}


.odin {
    height: 400px;
    width: 400px;
    float: left;
}
button {
    display: inline-block;
    border-radius: 4px;
    background-color: grey;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  